.nav{
    color: orangered;
    background-color: lemonchiffon;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Place items at the start and end of the container */
    align-items: center; /* Vertically center items */
    padding: 10px; 
  }
  
  .nav p {
    margin: 0; /* Set margin to 0 for the <p> element within .nav */
    padding: 10px 20px 10px 20px;
    font-size: x-large;
    font-weight: 700;
    font-style: italic;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
  }

  .nav Button{
    text-decoration:underline;
    background: none;
    border: none;
    color:orangered;

  }

